<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>

<body>
    <form method="post">
        <input type="text" name="username" id="user" placeholder="Enter username">
        <input type="text" name="password" id="pass" placeholder="Enter password">
        <button type="submit">Submit</button>

    </form>
</body>

</html>